body {
    background-image: linear-gradient(90deg, #12a0e6, #76d3fe);
}

.font-lato {
    font-family: 'Lato', sans-serif;
}

.nav-link {
    font-size: 1.4rem;
}

.btn-font {
    font-size: 1.1rem;
}

@media (min-width: 1200px){
    .navbar-nav {
        margin-left: 8rem;
    }

}