@charset 'UTF-8';

#containerBgOwli {
    width: 100%;
    background-color: rgba(17,159,229,1);
	background-image: linear-gradient(to bottom right, #12a0e6, #76d3ff);
}

section#secSubscribe {

    #rowSubscribeMain {

        h1#titleHomePage {
            margin: 0;
            color: white;
            font-family: 'latobold';
        }

        h3#subtitleHomePage {
            margin: 0;
            color: white;
            font-family: 'latohairline';
        }

        button#btnBePart {
            color: black;
            background-color: white;
            border-radius: 6px;
            width: 225px;
            height: 50px;
            font-size: 1.2rem;
            font-family: 'latobold'
        }
    }
}

section#meetOurResources {
    background-color: white;

    #rowMeetOurResources {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 410px;

        h2#meetResourcesTitle {
            margin: 0;
            font-family: 'latoregular';
        }

        dl#resourceList {
            margin: 0;
            display: flex;
            justify-content: center;

            .resourceWraper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .resourceIcon {
                    height: 75px;
                    width: 75px;
                }
            }

            dd.resourceDescription {
                margin: 0;
            }
        }

    }

}

/* Mobile devices */
@media only screen and (max-width: 600px){}

/* Tablet devices or larger */
@media only screen and (min-width: 601px) {}

/* Tablet devices only */
@media only screen and (min-width: 601px) and (max-width: 992px){}

/* Desktop devices or larger */
@media only screen and (min-width: 993px) {}

/* Desktop devices only */
@media only screen and (min-width: 993px) and (max-width: 1200px) {}

/* Large desktop devices */
@media only screen and (min-width: 1201px) {

    #containerBgOwli {
        section#secSubscribe{
            width: 80%;
        }
    }


    section#secSubscribe {
        height: 100vh;

        .colHeader {
            padding: 0;
        }

        #rowSubscribeMain {
            display: flex;
            align-items: center;
            flex: 1 0 calc(100% - 95px);

            h1#titleHomePage {
                font-size: 4rem;
            }

            h3#subtitleHomePage {
                font-size: 1.9rem;
            }
        }
    }

    section#meetOurResources {
        width: 80%;

        h2#meetResourcesTitle {
            margin: 0;
            font-size: 2.7em;
            flex: 0.5;
        }

        dl#resourceList {
            flex: 0.5;
        }
    
        margin-bottom: 100px;
    }

}