@charset 'UTF-8';

// section#secSubscribe {}

/* Mobile devices */
@media only screen and (max-width: 600px){}

/* Tablet devices or larger */
@media only screen and (min-width: 601px) {}

/* Tablet devices only */
@media only screen and (min-width: 601px) and (max-width: 992px){}

@media only screen and (min-width: 992px) {
	#homeContainer {
		width: 80%;
	}
}

/* Desktop devices or larger */
@media only screen and (min-width: 993px) {}

/* Desktop devices only */
@media only screen and (min-width: 993px) and (max-width: 1200px) {}

/* Large desktop devices */
@media only screen and (min-width: 1201px) {

    section#secSubscribe {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

}