@charset 'UTF-8';

/* ONLY MATERIALIZE GRID */
@import '~materialize-css/sass/components/color-variables';
@import '~materialize-css/sass/components/variables';
@import '~materialize-css/sass/components/grid';

/* FONTS */
@import 'assets/scss/fonts.scss';

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: rgba(17,159,229,1);
	background-image: linear-gradient(to bottom right, #12a0e6, #76d3ff);
	// react default reset
	margin: 0;
	font-family: 'latoregular', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// react default reset
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

#root-react-app {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.container-fluid {
	width: 100%;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	margin-right: auto;
	margin-left: auto;
}

// Reset elements
button {
	outline: none;
	border: none;
}